# We deliberately don't use travis's language=python option because
# we install miniconda and use conda to get python. Additionally,
# Travis's auto-install of python doesn't work on osx images (see
# https://github.com/travis-ci/travis-ci/issues/4729).
language: generic
sudo: false
os:
  - linux

cache:
  timeout: 300
  directories:
    - $HOME/miniconda
    - $HOME/.intake

env:
  global:
    - PYENV_VERSION=3.6

stages:
  - test
  - name: website_dev
    if: tag =~ ^v(\d+|\.)+[a-z]\d+$ OR tag = website_dev
  - name: website_release
    if: tag =~ ^v(\d+|\.)+[^a-z]\d+$ OR tag = website

jobs:
  include:
    ########## SMOKE TESTING ##########
    - &default
      stage: test
      env: DESC="dev test"
      before_install:
        - pip install pyctdev && doit miniconda_install && pip uninstall -y doit pyctdev
        - export PATH="$HOME/miniconda/bin:$PATH" && hash -r
        - conda config --set always_yes True
        - conda env update -f environment.yml -n earthml
        - conda env update -f environment-dev.yml -n earthml
      install:
        - source activate earthml
        - doit env_capture
      script:
        - doit before_test
        - pytest --nbsmoke-run -k ".ipynb"

    ########## DOCS ##########

    - &website
      <<: *default
      stage: website_release
      env: DESC="website"
      install:
        - source activate earthml
        - doit env_capture
        - git checkout -b deploy-${TRAVIS_BRANCH}
        - git fetch https://github.com/$TRAVIS_REPO_SLUG.git evaluated:refs/remotes/evaluated # all large evaluated notebooks and their json files should be checked in to this branch
        - git checkout evaluated -- 'doc/topics/*.ipynb' 'doc/topics/*.json'  # only check in evaluated topics
      script:
        - nbsite generate-rst --org pyviz-topics --project-name earthml --offset 1 --nblink=top
        - nbsite build --what=html --output=builtdocs
        - doit move_json

      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./builtdocs
        fqdn: earthml.pyviz.org
        on:
          tags: true
          all_branches: true

    - <<: *website
      stage: website_dev
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./builtdocs
        repo: pyviz-dev/earthml
        on:
          tags: true
          all_branches: true

notifications:
  email: false
