# We deliberately don't use travis's language=python option because
# we install miniconda and use conda to get python. Additionally,
# Travis's auto-install of python doesn't work on osx images (see
# https://github.com/travis-ci/travis-ci/issues/4729).

# This file should be using semantically named doit commands defined in
# dodo.py
language: generic
sudo: false
os:
  - linux

cache:
  timeout: 300
  directories:
    - $HOME/miniconda
    - $HOME/.intake

env:
  global:
    - PYENV_VERSION=3.6

stages:
  - test
  - name: website_dev
    if: tag =~ ^v(\d+|\.)+[a-z]\d+$ OR tag = website_dev
  - name: website_release
    if: tag =~ ^v(\d+|\.)+[^a-z]\d+$ OR tag = website

jobs:
  include:
    ########## SMOKE TESTING ##########
    - &default
      stage: test
      env: DESC="dev test"
      before_install:
        - pip install pyctdev && doit miniconda_install
        - export PATH="$HOME/miniconda/bin:$PATH" && hash -r
        - doit ecosystem_setup
      install:
        - doit env_create
        - source activate earthml
        - doit env_capture
      script:
        - doit small_data_setup
        - doit test_examples
        - doit small_data_cleanup

    ########## DOCS ##########

    - &website
      <<: *default
      stage: website_release
      env: DESC="website"
      script: doit build_website

      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./builtdocs
        fqdn: earthml.pyviz.org
        on:
          tags: true
          all_branches: true

    - <<: *website
      stage: website_dev
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: ./builtdocs
        repo: pyviz-dev/earthml
        on:
          tags: true
          all_branches: true

notifications:
  email: false
